{% extends "base/base.html" %}
{% load static i18n %}

{% block title %}
    Atjaunināt savu paroli
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/ForgetPassword.css' %}">
{% endblock %}

{% block body %}
    <div class='reset_password_box'>
        <h1>{% trans 'Vai Jūs aizmirsāt paroli?' %}</h1>
        <p>{% trans 'Ievadiet lūdzu savu e-pasta adresi, lai iegūtu jaunu paroli' %}</p>
        <form action="." method="post">
            {{ form.as_p }}
            <p>
                <button type="submit" class='submit'>
                    <p>{% trans "Nosūtīt epasta" %}</p>
                </button>
            </p>
            {% csrf_token %}
        </form>
    </div>

    <script>
        var form_fields = document.getElementsByTagName('input')
        form_fields[0].placeholder = "{% trans 'E-pasts' %}"
    </script>
{% endblock %}