{% extends "base/base.html" %}
{% load static i18n %}

{% block title %}
    Reset your password
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/ForgetPassword.css' %}">
{% endblock %}

{% block body %}
    <div class='reset_password_box'>
        <h1>{% trans 'Atjaunojiet paroli' %}</h1>
        {% if validlink %}
            <p>{% trans 'Lūdzu ievadiet savu jauno paroli divreiz:' %}</p>
            <form action="." method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <p>
                    <button type="submit" class='submit'>
                        <p>{% trans 'Nomainīt paroli' %}</p>
                    </button>
                </p>
            </form>
        {% else %}
            <p>{% trans 'Paroles atjaunošana neizdevās,iespejams, jo ta jau ir izmantota. Lūdzu pieprasiet jaunu paroles atjaunināšanu.' %}</p>
        {% endif %}
    </div>

    <script>
        var form_fields = document.getElementsByTagName('input')
        form_fields[0].placeholder = "{% trans 'Parole' %}"
        form_fields[1].placeholder = "{% trans 'Atkārtot paroli' %}"
    </script>
{% endblock %}