{% extends "base/base.html" %}
{% load static i18n %}

{% block title %}
    {% trans 'Atjaunot savu paroli' %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/ForgetPassword.css' %}">
{% endblock %}

{% block body %}
    <div class='reset_password_box'>
        <h1>{% trans 'Atjaunojiet savu paroli' %}</h1>
        <p>{% trans 'Mēs aizsūtījām jums instrukcijas ,lai atjaunotu paroli' %}</p>
        <p>{% trans 'Ja nesaņēmāt e-pastu,tad pārliecināties ,ka ievadījāt adresi ar ko Jūs reģistrejāties.' %}</p>
    {% endblock %}