{% extends 'base/base.html' %}
{% load static %}
{% load static i18n %}
{% load socialaccount %}

{% block title %}
    {% trans "Reģistrēties" %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/Register.css' %}">
{% endblock %}

{% block body %}
    <div class='Register-box'>
        <div class='main-box'>
            <h2 class='reg-title'>{% trans "Reģistrēties" %}</h2>
            <form method="POST" action="">
                {% csrf_token %}
                {{ form }}
                <button type='submit' class='submit'>
                    <p>{% trans "Reģistrēties" %}</p>
                </button>
                <div class='SignUp-Link'>
                    <p>{% trans "Vai tev jau ir Profils?" %} 
                        <a href='{% url 'login' %}' class='SignUpBtn-Link'>{% trans "Pieslēgties" %}</a>
                    </p>
                </div>
                <div class='social-platform'>
                    <p>{% trans "Reģistrējies ar" %}</p>
                    <div class='social-icons'>
                        <a class='google' href="{% provider_login_url 'google' %}"><i class="fa-brands fa-google" id='google'></i></a>
                        <a class='facebook'><i class="fa-brands fa-facebook-f" class='facebook'></i></a>
                    </div>
                </div>
            </form>
        </div>
    </div>


    <script>
        var form_fields = document.getElementsByTagName('input')
        form_fields[1].placeholder = "{% trans 'Lietotājvārds' %}"
        form_fields[2].placeholder = "{% trans 'E-pasts' %}"
        form_fields[3].placeholder = "{% trans 'Parole' %}"
        form_fields[4].placeholder = "{% trans 'Atkārtot paroli' %}"
        form_fields[5].placeholder = "{% trans 'Jūsu vārds' %}"
        form_fields[6].placeholder = "{% trans 'Jūsu Uzvārds' %}"
    </script>
{% endblock %}